<!doctype html>
<html>
<style>
    .buttons {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<head>
    <meta charset="UTF-8" />
    <title>202012711 박유진</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        <h1>Login</h1>
        <p>User ID : yoo, Password : 202012711</p>
        <input type="text" id="userId" placeholder="User ID">
        <input type="password" id="userPw" placeholder="Password">
        <input type="button" onclick="login()" value="Login">
        <input type="button" onclick="logout()" value="Logout">
        <div>
            <span>Login Result :</span>
            <span id="login-result"></span>
        </div >
    </div>

    <div>
        <h1>Public Page</h1>
        <input type="button" class="btn btn-secondary" onclick="showPublicInfo()" value="Show Public Info">
        <div id="public-info"></div>
    </div>
    <div>
        <h1>Personal Page</h1>
        <input type="button" class="btn btn-secondary" onclick="showPrivateInfo()" value="Show Private Info">
        <div id="private-info"></span>
    </div>   

    <h1>Waiting for <%= count %> assignments!!</h1>
    <% for(var task of data){ %>
    <h3><a href='/tasks/<%= task.id %>'> <%= task.id %>.<%= task.task %> </a></h3>
    과목: <%= task.subject %> / 
    제출일 : <%= task.deadline %>
    <br>
    <% } %>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="buttons" onclick="location.href='/tasks/new'">과제 추가</button>

    <script>
        $(document).ready(function () {
           console.log('ready!');
        });
  
        function login() {
           var id = $("#userId").val();
           var pw = $("#userPw").val();
  
           $.ajax({
              url: '/login',
              type: 'post',
              data: `id=${id}&password=${pw}`
           }).done((data) => {
              // 로그인 성공
              alert('로그인 성공');
              $("#login-result").text(data);
           }).fail((err) => {
              // 로그인 실패            
              alert('로그인 실패');
              $("#login-result").text(err.statusText);
           });
        }
  
        function logout() {
           $.ajax({
              url: '/logout',
              type: 'delete'
           }).done((data) => {
              // 로그아웃 성공
              $("#login-result").text("로그아웃 성공");
           }).fail((err) => {
              // 로그아웃 실패            
              $("#login-result").text("로그아웃 실패");
           });
        }
        
        function showPublicInfo() {
           $.getJSON('/public').done( data => {
              console.log('/public success : ', data);
              $('#public-info').text(data.message);
           }).fail(err => {
              console.log('/public fail : ', err);
              alert('public info fail');
           });
        }
  
        function showPrivateInfo() {
           $.getJSON('/private').done( data => {
              console.log('/private success : ', data);
              $('#private-info').text( JSON.stringify(data) );            
           }).fail(err => {
              console.log('/private fail : ', err);
              $('#private-info').text('');
              alert('정보 얻기 실패 :' + err.statusText);
           });
        }      
    </script>
</body>
</html>